*{
    box-sizing: border-box;
}

//Generic Styling for Page
img {
  width: 100%;
}


//Styling for the header
.navbar {
  background-color: #50E3C2;
  color: black;
}

//Styling for the Body
// main {
//     background-color: #5B5B5B;
// }

//Styling for the Left side of the Body

//Styling for the Right side of the Body
.followCard {
  border: 1px solid #5B5B5B;
  background: #50E3C2;
  img {
    padding: 5px;
  }
}
.followerSection {
  margin-top: 15px;
}

//Styling for the Footer
