* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

header {
  margin-bottom: 40px;
}

.navbar {
  background-color: #50E3C2;
  color: black;
}

.followerSection {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 20vw;
}

.card span {
  width: 100%;
}

.card span span {
  width: 80%;
  overflow: hidden;
}
