* {
  box-sizing: border-box;
  //border: 1px dashed red;
}

img {
  width: 100%;
}
#signup {
  background-color: gray;
  color: white;

}
#signin {
background-color:#50E3C2;
  color: white;
}
 .navbar {
   background-color: #50E3C2;
   color: black;
 }

.padBox {
  padding-top: 7px;
  margin-right: -5px;
}
.tweetbtn {
  background-color:#50E3C2;
}
.smallerPic{
  height: 40px;
  width: 100%;
}
